# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=sua_senha_aqui
DB_NAME=vendas
DB_NAME_TEST=vendas_test_db

# Segurança e URLs
APP_SECRET=SUA_APP_SECRET_AQUI
APP_API_URL=http://localhost:3334

# E-mail (Sugestão: mencione se for Mailtrap ou Gmail)
EMAIL_USER=seu_email_aqui
EMAIL_PASS=sua_senha_de_app_aqui

# Redis
REDIS_HOST=localhost
REDIS_PORT=6390
REDIS_PASS=
